<!DOCTYPE html>
<html ng-app="draw">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <script src="components/angular/angular.min.js"></script>
     <script src="components/jquery/dist/jquery.min.js"></script>
     <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
     <script src="components/leaflet/dist/leaflet.js"></script>
     <script src="components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>

     <script src="components/angular-simple-logger/dist/angular-simple-logger.js"></script>

    <script src="components/leaflet.draw/dist/leaflet.draw.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
    <script src="components/leaflet-plugins/layer/tile/Google.js"></script>
   <script src="components/leaflet-plugins/layer/Icon.Canvas.js"></script>
     <script src="components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
     <script src="components/ngDialog/js/ngDialog.js"></script>
     <script src="components/underscore/underscore.js"></script>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="components/leaflet.draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link href="css/map.css" rel="stylesheet" />
    <link href="css/map.css" rel="stylesheet" />
    <!-- your app's js -->
    <script src="js/draw.js"></script>
    <script>
    </script>
    <script type="text/ng-template" id="pop.html">
        <div class="formu">
            <form>
                <div class="form-group">
                    <div ng-controller="TagsController">
                        <label for="exampleInputEmail1">Espèce(s) observée(s):</label>
                        <div>
                            <angucomplete-alt id="ex2" placeholder="Indiquez le nom d'une fleur" pause="100" selected-object="selectFlores" local-data="especesName" search-fields="espece" title-field="espece" minlength="1" input-class="form-control form-control-small" match-class="highlight" />
                        </div>
                        <button id="addFlower" ng-disabled="!selectFlores" type="button" class="btn btn-success" ng-click="addTag()">Ajouter</button>
                        <ul id="tag" class="nav item">
                            <div id="newEsp" ng-show="tags.data.length">
                                <li ng-repeat="tag in tags.data track by $index | limitTo: 3">
                                    <span>- {{tag.espece}}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <label for="exampleInputEmail1">Commune(s):</label>
                    <div>
                        <ul id="tag" class="nav item">
                            <div id="newCom" ng-show="communeName.length">
                                <li ng-repeat="commune in  communeName">
                                    <span>- {{commune.properties.NAME}}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <label for="exampleInputEmail1">Fiabilité:</label>
                    <input type="text" class="form-control" ng-model="newZone.properties.FIABILITE" id="exampleInputEmail1" placeholder="Entrer une Fiabilité">
                    <label for="exampleInputEmail1">Type:</label>
                    <input type="text" class="form-control" ng-model="newZone.properties.TYPE" id="exampleInputEmail1" placeholder="Entrer un type">
                    <label for="exampleInputEmail1">Description:</label>
                    <textarea type="text" class="form-control" ng-model="newZone.properties.DESCRIPTIO" id="exampleInputEmail1" placeholder="Entrer une description"></textarea>
                    <label for="exampleInputEmail1">Entretien:</label>
                    <textarea type="text" class="form-control" ng-model="newZone.properties.ENTRETIEN" id="exampleInputEmail1" placeholder="Entrer un état sur l'entretien"></textarea>
                    <button id="send" type="submit" type="button" class="btn btn-primary" ng-click=" closeThisDialog('Cancel'); storeZone();  ">Envoyer</button>
                </div>
            </form>
        </div>
    </script>
</head>

<body ng-controller="DrawCtrl">

    <div id="map-wrapper">
        <div id="map">
            <leaflet  center="map.center"  width="100%" height="100%"></leaflet>
        </div>
    </div>
    <div id="credit">
        Author : <a href="mailto:plombfg@gmail.com">F.Plomb</a>
    </div>
    <button id="confirm" ng-show="editMode" confirmed-click="postPolygon()" ng-confirm-click="Etes vous sûr de vouloir enregistré ce polygon ?">
        Confirmer
    </button>
    <div ng-show="editMode" id="edition">
        Mode édition
    </div>
    <div class="info">
        <div class="titreInfo"> Informations </div>
        <div ng-show="infoZone.id" class="dlPdf"><a TARGET="_blank" ng-href="http://www.humagis.ch/~jomtalus/PDF/F{{infoZone.id}}.pdf">Download PDF</a> </div>
        <button class="edit" ng-show="infoZone.id" confirmed-click="editGeom()" ng-confirm-click="Etes vous sûr de vouloir modifier la géométrie de cette zone ?">Modifier la géométrie</button>
        <div class="titre margeTop"><img id="mapIcon" src='/img/loc.png' alt='Commune' width='26' height='26' align='top' /> Commune(s)
        </div>
        <div id="LocCommunes" ng-repeat="commune in infoZone.commune">
            <li><i class="fa fa-map-marker"></i> {{commune.properties.NAME}}
            </li>
        </div>
        <div class="titre margeTop"><img src='/img/flower2.png' alt='Flower' width='25' height='25' /> Espèce(s) </div>
        <div ng-repeat="fleur in infoZone.fleurs">
            <div id="allFleurs" class="listeFleurs">
                <li><a ng-hide="fleur.espece == 'Aucune fleur répértoriée'" TARGET="_blank" class="colorLink" ng-href="http://www.google.fr/search?q={{fleur.espece}}">{{fleur.espece}}</a>
                    <p ng-show="fleur.espece == 'Aucune fleur répértoriée'">{{fleur.espece}}
            </div>
        </div>
    </div>
    <div class="info" ng-show="editMode">
        <div class="titreInfo" style="background : red"> Edition </div>
        <div style="font-size : 32px; padding: 0.2em;">Dessinez un polygon et veuillez confirmer votre saisie:</div>
        <div style="text-align: center; font-size : 30px;">
            <button ng-disabled="false" confirmed-click="postPolygon()" ng-confirm-click="Etes vous sûr de vouloir enregistré ce polygon ?">
                Confirmer
            </button>
        </div>
    </div>
</body>

</html>
